<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standards -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Basic SEO -->
      <title>Exchange Program | JE Global</title>
      <link rel="canonical" href="<%- url.replace('/index.html', '') %>">
    <!-- Open Graph -->
      <meta property="fb:app_id" content="1731947456924075">
      <!-- <%- open_graph({ type: 'article', image: 'config.featured_image' }) %> -->
    <!-- CSS Styles -->
      <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700" rel="stylesheet">
    <!-- Scripts -->
      <script defer src="/assets/scripts.js"></script>
    <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#2d89ef">
      <meta name="theme-color" content="#ffffff">
    <!-- End of Head -->
  </head>
  <body>
    <div id="main">
      <!-- Website Header -->
        <section id="header">
          <nav>
            <img class="logo" src="/assets/images/exchange-program-logo.png" alt="Exchange Program"/>
            <ul>
              <li><a href="#intro">Intro</a></li>
              <li><a href="#experience">Experience</a></li>
              <li><a href="#destinations">Destinations</a></li>
              <li><a href="#signups">Sign-ups</a></li>
            </ul>
          </nav>
        </section>
      <!-- Page Content -->
        <!-- Hero Section -->
        <section id="big-hero" class="u-white bg-image bg-gradient-2-light">
          <img src="/assets/images/cnh-2017.jpeg">
          <video autoplay loop muted>
            <source src="/assets/videos/hero-video.webm" type="video/webm">
            <source src="/assets/videos/hero-video.mp4" type="video/mp4">
          </video>
          <div class="container">
            <h1>
              <span class="pretyped">Students delivering</span>
              <span class="typewriter" data-period="2000" data-type='["growth.","results.","projects.","change.","future."]'>growth.</span><span class="blinking"></span>
            </h1>
          </div>
          <button class="learn-more u-button" onclick="smoothScroll('network-numbers');">
            Learn more<br>
            <svg viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path d="M30 12 L16 24 2 12" />
            </svg>
          </button>
        </section>
        <!-- Main Content -->
        <div class="bg-white"><div class="container">
          <section id="concept">
            <h3>The JE Concept</h3>
            <p>Junior Enterprises (JEs) are non-profit companies run entirely by university students. They provide services, in their fields of study, to other companies, entrepreneurs and society as a whole.</p>
            <p>The projects executed by JEs allow Junior Entrepreneurs to positively impact their clients while applying their knowledge on real problems of the market.</p>
            <div class="primary link"><a href="/concept">Find out more</a></div>
            <div class="primary link"><a href="/start-a-je">Start a JE</a></div>
          </section>
          <section id="network">
            <h3>A Global Movement</h3>
            <div class="row">
              <div class="one-half column">
                <canvas id="bubbleChart" class="bg-map-2"></canvas>
              </div>
              <div class="one-half column">
                <p>Junior Enterprises collaborate worldwide as a network. With support from their national confederations, JEs share knowledge and use common strategies to grow year after year.</p>
                <p>Wherever you are, you are likely to find a JE near you specialized in solving the problems you need to solve.</p>
                <div class="primary link"><a href="/confederations">Discover the network</a></div>
                <div class="primary link"><a href="/map">Hire a JE</a></div>
              </div>
            </div>
          </section>
        </div></div>
        <section id="global-council" class="bg-image bg-gradient-1-light">
          <img src="/assets/images/jewc-16-keynote.jpeg">
          <div class="container row">
            <div class="u-750-vcenter one-third column">
              <img src="/assets/logos/jegc-logo-dark-bg.png" alt="Junior Enterprise Global Council Logo">
            </div>
            <div class="offset-by-one-third two-thirds column card">
              <section>
                <h3>The JE Global Council</h3>
                <p>Since 2016, we exist to strengthen the Junior Enterprise Global Network towards delivering more impact.</p>
                <p>Our role is to enlarge the network, by working and partnering for the creation of JEs & confederations in new countries, and to develop it, through support & connection initiatives.</p>
                <div class="primary link"><a href="/global-council">Learn more</a></div>
                <div class="primary link"><a href="/partners">Become a partner</a></div>
              </section>
            </div>
          </div>
        </section>
      <!-- Website Footer -->
        <section id="footer" class="bg-gray">
          <div class="container">
            <div class="row">
              <div class="three-quarters column u-center u-750-left">
                <img src="/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council Logo">
                <nav>
                  <a href="/">Home</a>
                  <a href="/map">Map</a>
                  <a href="/partners">Partners</a>
                  <a href="/contact">Contact</a>
                </nav>
              </div>
              <div class="one-quarter column u-center u-750-right">
                <nav>
                  <a href="https://www.facebook.com/jeglobalcouncil/"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.linkedin.com/company/junior-enterprise-global-council/"><i class="fab fa-linkedin-in"></i></a>
                </nav>
              </div>
            </div>
            <div class="row u-tiny-text">
              <div class="one-half column u-center u-750-left">
                <p>© 2018 Junior Enterprise Global Council</p>
              </div>
              <div class="one-half column u-center u-750-right">
                <p>Questions? <a href="mailto:kalil.monteiro@brasiljunior.org.br">kalil.monteiro@brasiljunior.org.br</a> | <button class="u-button" onclick="smoothScroll('navigation');">Scroll to top <i class="fa fa-caret-up"></i></button></p>
              </div>
            </div>
          </div>
        </section>
      <!-- End of Page -->
    </div>
  </body>
</html>
