<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standards -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Basic SEO -->
      <title>Exchange Program | JE Global</title>
      <link rel="canonical" href="<%- url.replace('/index.html', '') %>">
    <!-- Open Graph -->
      <meta property="fb:app_id" content="1731947456924075">
      <!-- <%- open_graph({ type: 'article', image: 'config.featured_image' }) %> -->
    <!-- CSS Styles -->
      <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700" rel="stylesheet">
    <!-- Scripts -->
      <script defer src="/assets/scripts.js"></script>
    <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#2d89ef">
      <meta name="theme-color" content="#ffffff">
    <!-- End of Head -->
  </head>
  <body>
    <div id="main">
      <!-- Page Content -->
        <!-- Hero -->
          <section id="hero" class="bg-image bg-gradient u-angled">
            <!-- Hero Background -->
              <img src="/assets/images/fallback-cover-2.jpg">
              <video autoplay loop muted>
                <source src="/assets/images/cover-video.webm" type="video/webm">
                <source src="/assets/images/cover-video.mp4" type="video/mp4">
              </video>
            <!-- Header / Page Navigation -->
              <div id="header" class="u-container">
                <nav>
                  <ul>
                    <li><button onclick="smoothScroll('intro');">Intro</button></li>
                    <li><button onclick="smoothScroll('experience');">Experience</button></li>
                    <li><button onclick="smoothScroll('destinations');">Destinations</button></li>
                    <li><button onclick="smoothScroll('signup');" class="highlight">Sign-up now</button></li>
                  </ul>
                </nav>
              </div>
            <!-- Hero Content -->
              <div class="hero container u-center">
                <img class="logo" src="/assets/images/exchange-program-logo-white.png" alt="Exchange Program"/>
              </div>
          </section>
        <!-- Intro -->
          <section class="u-pb-2" id="intro">
            <div class="container">
              <div class="u-mt-10 card">
                <h2 class="cite">Intro</h2>
                <h3>Invitation Letter</h3>
                <p>In the shared purpose of the Junior Enterprise Global Network (Educational, economical and collaborative impact), when we talk about <strong>collaborative impact</strong>, we envision a future where junior enterprises exchange knowledge and collaborate on projects at a global scale.</p>
                <p>To make this future happen today, we invite you to be a traveler in the <strong>Exchange Program</strong>. We invite you to be an agent of change, that bridges the connection of knowledge, people and JEs from different countries.</p>
                <p></p>
                <p>We challenge you to be one of the links that will strengthen our network.</p>
                <p>We challenge you to <strong>be the future</strong>.</p>
                <a href="https://juniorenterprises.org/"><img class="u-logo-link" src="https://juniorenterprises.org/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council"/></a>
                <div class="ghost"><h4>#BeTheFuture</h3></div>
              </div>
            </div>
          </section>
        <!-- Experience -->
          <section class="u-pb-2" id="experience">
            <div class="wide container">
              <div class="row">
                <div class="sixty-percent cell">
                  <h2 class="cite">Experience</h2>
                  <h3>An adventure unlike any other</h3>
                  <p>In the Exchange Program, you will travel to another country, where you'll be hosted for up to 3 weeks by a local junior entrepreneur and their JE.</p>
                  <p>During these weeks, you'll work part-time for your host JE, living their routine and contributing with your skills.</p>
                  <p>But you will also be challenged to do much more than that.</p>
                  <p>You'll discover another culture & new locations. You will share purpose, stories & moments together with your hosts. And you'll meet several JEs plus the best that they each have to offer.</p>
                </div>
                <div class="forty-percent cell">
                  <div class="u-p0 u-mw400 card">
                    <div class="fg-gradient"><img src="/assets/images/exchange-photos.gif"></div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!-- Social Proof -->
          <section class="u-pb-2 u-center bg-gray" id="social-proof">
            <h2 class="cite">Who has already participated</h2>
            <p><img class="u-logo-link" src="https://juniorenterprises.org/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council"/></p>
            <p><img class="u-logo-link" src="https://juniorenterprises.org/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council"/></p>
            <p><img class="u-logo-link" src="https://juniorenterprises.org/assets/logos/jegc-logo.png" alt="Junior Enterprise Global Council"/></p>
          </section>
        <!-- Destinations -->
        <section class="u-pb-2" id="destinations">
          <div class="container">
            <h2 class="cite">Experience</h2>
            <h3>An adventure unlike any other</h3>
            <p>Lorem ipsum.</p>
            <p>Dolor sit amet.</p>
          </div>
        </section>
      <!-- End of Page -->
    </div>
  </body>
</html>
