<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standards -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Basic SEO -->
      <title>Exchange Program | JE Global</title>
      <link rel="canonical" href="<%- url.replace('/index.html', '') %>">
    <!-- Open Graph -->
      <meta property="fb:app_id" content="1731947456924075">
      <!-- <%- open_graph({ type: 'article', image: 'config.featured_image' }) %> -->
    <!-- CSS Styles -->
      <link rel="stylesheet" type="text/css" href="/assets/styles.css">
      <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700" rel="stylesheet">
    <!-- Scripts -->
      <script defer src="/assets/scripts.js"></script>
    <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#2d89ef">
      <meta name="theme-color" content="#ffffff">
    <!-- End of Head -->
  </head>
  <body>
    <div id="main">
      <!-- Page Content -->
        <!-- Hero -->
          <section id="hero" class="bg-image bg-gradient-1">
            <!-- Hero Background -->
              <img src="/assets/images/fallback-cover.jpg">
              <video autoplay loop muted>
                <source src="/assets/images/cover-video.webm" type="video/webm">
                <source src="/assets/images/cover-video.mp4" type="video/mp4">
              </video>
            <!-- Header / Page Navigation -->
              <div id="header" class="u-container">
                <nav>
                  <img class="logo" src="/assets/images/exchange-program-logo.png" alt="Exchange Program"/>
                  <ul>
                    <li><button onclick="smoothScroll('intro');">Intro</button></li>
                    <li><button onclick="smoothScroll('experience');">Experience</button></li>
                    <li><button onclick="smoothScroll('destinations');">Destinations</button></li>
                    <li><button onclick="smoothScroll('signups');">Sign-ups</button></li>
                  </ul>
                </nav>
              </div>
            <!-- Hero Content -->
              <div class="hero container u-center">
                <div class="rotator">
                  <div class="rotator-deck">
                    <div class="rotator-slide"><h1>Strengthen the network.</h1></div>
                    <div class="rotator-slide"><h1>Live the connection.</h1></div>
                    <div class="rotator-slide"><h1>Be the future.</h1></div>
                  </div>
                </div>
              </div>
          </section>
        <!-- Intro -->
          <div class="bg-white">
            <div class="container t-10 card">
              <h2 class="cite">Intro</h2>
              <h3>Invitation Letter</h3>
              <p>In the shared purpose of the Junior Enterprise Global Network (Educational, economical and collaborative impact), when we talk about collaborative impact, we envision a future where junior enterprises exchange knowledge and collaborate on projects at a global scale.</p>
              <p>To make this future happen today, we invite you to be a traveler in the Exchange Program.</p>
              <p>We invite you to be an agent of change, that bridges the connection of knowledge, people and JEs from 2 networks (your home country & your host country) that you will surely find to be very different and very alike at the same time.</p>
              <p>We challenge you to live this connection, to be one of the links that will strengthen our network.</p>
              <p> We challenge you to be the future.</p>
            </div>
          </div>
      <!-- End of Page -->
    </div>
  </body>
</html>
