/* Base Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html { font: 14px/1.6 'Open Sans', sans-serif; }

@media (min-width: 400px) {
  html { font-size: 16px; }
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body { height: 100%; margin: 0; padding: 0; color: #222; overflow-x: hidden; }

button { color: inherit; font: inherit; background: none; border: none; padding: 0; margin: 0; }

a { color: #1492b8; text-decoration: none; word-wrap: break-word; transition: all .15s ease-in; }
a:hover, a:focus { text-decoration: underline; }
a.footnote { color: #444; }

h1, h3, h4 { font-family: 'Montserrat', sans-serif; word-wrap: break-word; }
h1, h2, h3, h4 { margin: 1.5rem 0 0.75rem 0; line-height: 1.2; color: #111; }
h1 { font-size: 3rem; }
h2 { font-weight: normal; }
h3 { font-size: 1.75rem; }
h2, h4 { font-size: 1.25rem; }
h5 { font-size: 14px; margin: 0 0 0.25rem 0; }
h5 ~ p { margin-bottom: 0.25rem; }

@media (min-width: 750px) {
  h2, h3 { margin-left: -1rem; margin-right: -1rem; }
  h4 { margin-left: -0.5rem; margin-right: -0.5rem; }
}

p, ul, ol, li, table, blockquote { margin-top: 0; margin-bottom: 0.75rem; }
ul, ol { padding-left: 1.5rem; }

hr { border: none; margin: 2.5rem 0; border-bottom: 1px solid #e2e2e2; }

blockquote { margin-left: 0.75rem; margin-right: 0; padding: 0rem 0.8rem; border-left: .3rem solid #ccc; color: #777; font-style: italic; }
blockquote p:last-child { margin-bottom: 0; }
blockquote cite, .cite { text-transform: uppercase; letter-spacing: 1px; font-size: 14px; }
h2.cite + h3 { margin-top: -0.75rem; }

table { border-collapse: collapse; }
th, td {  padding: .5rem .75rem;  text-align: left; border-bottom: 1px solid #ccc; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }

/* Content/Container Blocks
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.container .row:last-child { padding-bottom: 0; }
.container p:last-child { margin-bottom: 0; }

.container section { margin-bottom: 1.5rem; }

@media (min-width: 400px) {
  .container { width: 90%; }
}
@media (min-width: 550px) {
  .container { width: 80%; }
  .container .row { padding-bottom: 0.75rem; }
}

.container img { margin: 2em auto; display: block; max-width: 100%; }

/* Adapted skeleton.css grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.row { position: relative; }
.column, .columns { width: 100%; float: left; box-sizing: border-box; }

@media (min-width: 550px) {
  .columns { margin-right: 4%; }
  .columns:last-child { margin-right: 0; }
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }
}
@media (min-width: 750px) {
  /* Quick-fold variants */
  .column { margin-right: 4%; }
  .column:last-child { margin-right: 0; }
  .one-quarter.column             { width: 22%;            }
  .three-quarters.column          { width: 74%;            }
  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }
  .offset-by-one-third.column     { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column    { margin-left: 69.3333333333%; }
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width { width: 100%; box-sizing: border-box; }
.u-max-full-width { width: 100%; max-width: 100%; box-sizing: border-box; }

.u-inline-block { display: inline-block; }
.u-tiny-text { font-size: 12px; }
.u-padded-spans span { padding: 0 0.5rem; }
.u-mt0 { margin-top: 0; }
.u-fs3 { font-size: 3rem; }
.u-p12 { padding: 12px; }

.u-transparent { transition: opacity .15s ease-in; opacity: 0.5; }
.u-transparent:hover { opacity: 1; }

.u-button { cursor: pointer; }

.u-white, .u-white h1, .u-white h2, .u-white h3 { color: #fff; }
.u-white-link { font-weight: bold; padding: 0.25rem 0.5rem; background-color: rgba(255,255,255,0.7); border-radius: 0.5rem; display: inline-block; }

.u-pull-right { float: right; }
.u-pull-left { float: left; }
.u-center { text-align: center; }
.u-center img, .u-center nav { margin: 0 auto; }

.u-750-vcenter { margin: 0 auto; }
.u-750-vcenter img { width: 100%; max-width: 240px; }
@media (min-width: 750px) {
  .u-750-vcenter { position: absolute; top: 50%; transform: translateY(-50%); margin: 0; }
  .u-750-right { text-align: right; }
  .u-750-left img, .u-750-left nav { float: left; }
  .u-750-left { text-align: left; }
  .u-750-right img, .u-750-right nav { float: right; }
}

.bg-white { background-color: #fff; }
.bg-gray { background-color: #f2f2f2; }
.bg-dark { background-color: #e2e2e2; }

.bg-image { position: relative; background: rgba(50,50,50,0.7); padding: 1.5rem 0; border-bottom: 6px solid #e2e2e2; }
.bg-image > img { position: absolute; height: 100%; top: 0; z-index: -1!important; object-fit: cover; width: 100%; left: 0; }
.bg-image em { background: rgba(0,0,0,0.3); }

.bg-gradient-1 { background: linear-gradient(to top left, rgba(36,161,200,0.3), rgba(255,255,255,0.3)); }

.container:after, .row:after, .deck:after, .u-container:after, .u-cf { content: ""; display: table; clear: both; }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header {
  margin: 0 -1rem;
  padding: 1rem 2rem;
  min-height: 3.6rem;
  transform: skew(-2deg) rotate(-1deg);
  transition: all 0.2s ease-out;
  background-image: linear-gradient(to right,rgba(255,255,255,0) 50%,#fff 50%);
  background-position: 0 0;
  background-size: 202%;
  font-size: 1.2rem;
}

#header:focus, #header:hover {
  background-position: -99% 0;
}

#header nav {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#header ul {
  margin: 0;
  padding: 0.6rem 0 0 0;
  list-style: none;
  text-align: center;
}

#header ul li {
  display: inline-block;
  padding: 0 0.75rem;
}

#header ul li button {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: #323232;
  display: inline-block;
}

#header .highlight {
  padding: 0.25rem 0.75rem;
  background: #323232;
  color: #fff;
}

#header button:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #323232;
  opacity: 0;
  transform: translateY(3px);
  transition: all 0.1s ease-in;
}

#header button:hover:before, #header button:focus:before {
  opacity: 1;
  transform: translateY(6px);
}

/* Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero.container {
  margin: 1rem auto;
  transform: skew(-2deg) rotate(-1deg);
  width: 100%;
  max-width: 100%;
  background: rgba(0,0,0,0.3);
}

.container .logo {
  padding: 1rem 0;
  width: 500px;
}

@media (min-width: 850px), (min-height: 850px){
  .hero.container {
    margin: 6rem auto;
  }
}

#hero { padding-bottom: 12rem; }

#hero h1 { margin-bottom: 1.5rem; }
#hero { position: relative; }
#hero video {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1!important;
  object-fit: cover;
  width: 100%;
  left: 0;
}

@supports (-ms-ime-align:auto) { #hero video { display: none; } }  /* HIDE VIDEO ON MS EDGE */
@media screen\0 { #hero video { display: none; } } /* HIDE VIDEO ON MS IE */

.card {
  background: #fff;
  padding: 1.5rem 2.5rem;
  position: relative;
  border-top: 12px #24a1c8 solid;
  color: initial;
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
  transition: all .15s ease-in;
}

.card h2.cite:first-child {
  margin-top: 0;
}

.t-10.card {
  top: -10rem;
}
